* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box; 
  }
  
  .corpo {
    display: flex;
    max-width: 1096px;
    margin: auto;
    font-family: "Roboto", sans-serif;

  
  }
  
  img {
    margin:20px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid #eee;
  }
  
  header {
    display: flex;
    margin:10px;
    
  }
  
  .cabecalho {
    
    font-weight: normal;
    line-height: 18px;
    color: rgb(128, 0, 0);
    margin: 50px 100px 0px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
  
    
  }
  
  .cabecalho h4 {
    margin: 14px 15px;
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    
  }
   .info h2, .edu h2, .proj h2, .ob h2{
    margin: 30px 0px 11px 21px;
    font-family: Roboto;
    font-style: normal;
    color: rgb(128, 0, 0);
  }
  
  .edu ul li , .proj ul li{
   margin:0px 20px 10px 40px;
  }
  
   p {
    margin: 21px 0px 20px 21px;
    font-style: normal;
    
  }
   ul li{
   margin: 21px ;
   
  }
  
  
  /*ESSA PARTE AJEITEI! A ALTURA DELA VAI SE MOLDANDO COM BASE NO CONTEUDO QUE TU FOR COLOCANDO NA SECTION CLASS="A" 
  MAS SE TU QUISER AUMENTAR TU COLOCA UM 
  MARGIN BOTTOM NA SECION A OU NA B*/
  
  .b {
    background-color: rgb(128, 0, 0);
    color: #ffffff;
    max-width: 323px;
    padding:56px 20px;
    /*É BOM DEFINIR UM MAX-WIDTH P CA, Q A PROF COLOCOU LA NO FIGMA, VOU LA VER O TAMANHO*/
  }
  
  .b h2 {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 20px;
    
  }
  
  .contato h2 {
    color:rgb(128, 0, 0);
    margin-top: 150px;
    margin-left: 50px;
    
  }
  
  .contato p {
    font-size: 15px;
    line-height: 20px;
    margin: 0px 0px 20px 50px;
    max-width: 200px;
    color:black;
    
  }

  .conhecimento h2 {
    color:rgb(128, 0, 0);
    margin-top: 50px;
  }
  .conhecimento ul li{
    margin:0px 0px 10px 5px;
    border-bottom: 2px solid ;
    list-style: none;
    color:black;
    
  }
  span {
    width: 300px;
    margin-left: 45px;
    margin-top:60px;
  }
  span a {
    color: black;
    margin-left: 7px;
  }
  
  