body{
    margin-left:20px;
}
img{ 
    width: 100px;
    border-radius: 90px;
    box-shadow: none;
    text-decoration:none;
    

}
h1,h2{
    color:#19304F;
}

header{
    margin-left:120px;
    margin-top:-120px;
}

#roda {
    position: absolute;
    width: 197px;
    height: 100%;
    left: 400px;
    top: 0px;
    background: #19304F;
}
#roda h2{
    color:white;
    margin-top:80px;
    margin-left:25px;
    font-size: 20px;
}
#roda p{
    color:white;
    margin-left:20px;
}
i{
    color:white;
    margin-left:20px;
    
}

#roda ul li{
    color:white;
    list-style-type: none;
}
hr{
    height:1px;
    border:none; 
    width: 130px;  
    background-color:#DCDCDC; 
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right:80px;
}
.elementClass {
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    }
    